.container {
  width: 95%;
  margin: 0px auto;
  padding: 20px 0;
}

.sectionTitle {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
}
