@import "@/styles/colors.scss";
@import "@/styles/typography.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 12px 0px;

  .input {
    border: none;
    font-size: inherit;
    padding: 10px 12px;
    border-radius: 6px;
    flex: 1;

    &:focus {
      outline: none;
    }
  }

  .small {
    @include P2_Medium();
  }

  .medium {
    @include P4_Medium();
  }

  .large {
    @include H2_Bold();
  }

  .outline {
    border: 1px solid $grey;
  }

  .icon,
  .iconHolder {
    margin: auto 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .iconHolder {
    height: auto;
    color: $danger;
    text-align: center;
  }
}

.errorText {
  position: relative;
  display: flex;
  color: $danger;
  justify-content: flex-start;
  @include P2_Medium();
}

.errorContainer {
  padding: 0px;
}
