@import "@/styles/colors.scss";
@import "@/styles/typography.scss";

.button {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 0px;

  &:hover {
    opacity: 0.7;
  }
}

.small {
  padding: 12px 0px;
  @include P1_Heavy();
}

.medium {
  padding: 12px 0px;
  @include P2_Heavy();
}

.large {
  padding: 12px 0px;
  @include P3_Heavy();
}

.default,
.outline {
  background-color: white;
  color: black;
}

.outline {
  border: 1px solid $grey;
}

.yellow {
  background-color: $yellow;
  color: $purple;
}

.pink {
  background-color: $pink;
  color: white;
}

.blue {
  background-color: $navy_blue;
  color: white;
}
