@import "@/styles/mixin.scss";

.tableContainer,
.inputContainer {
  position: relative;
  width: 90%;
  margin: 0px auto;

  @include tabletQuery {
    overflow-x: scroll;
  }
}

.tableContainer {
  padding-bottom: 100px;
}

.inputContainer {
  width: 90%;
  margin: 10px auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 0px 5px;

  @include mobileQuery {
    margin: 15px auto;
  }

  .buttonStyles {
    padding: 9px 15px;
    width: fit-content;
    height: fit-content;
  }
}

.modalContainer {
  top: 40% !important;
  transform: translate(0%, -50%);
  height: fit-content !important;
  width: fit-content !important;
  min-width: 500px;

  @include mobileQuery {
    width: 95vw !important;
    min-width: 0px;
  }
}
